module <%= @module_name %>
  struct Welcome::IndexPage
    include Azu::Response
    include Azu::Templates::Renderable

    def initialize(@csrf_token : String = "",
                   @csrf_tag : String = "",
                   @csrf_metatag : String = "")
    end

    def render
      view data: {
        "csrf_token"   => @csrf_token,
        "csrf_tag"     => @csrf_tag,
        "csrf_metatag" => @csrf_metatag,
      }
    end
  end
end
