# src/requests/<%= request_name %>.cr
struct <%= request_name_camelcase %>
  include Azu::Request

<%- properties.each do |prop| -%>
  getter <%= prop[:name] %> : <%= prop[:type] %>
<%- end -%>

  def initialize(<%= properties.map { |prop| "@#{prop[:name]} = #{prop[:default]}" }.join(", ") %>)
  end

  # Built-in validation rules
<%- properties.each do |prop| -%>
<%- prop[:validations].each do |validation| -%>
  validate :<%= prop[:name] %>, <%= validation %>
<%- end -%>
<%- end -%>
end
