module <%= @module_name %>::<%= @name.camelcase %>
  struct IndexEndpoint
    include Azu::Endpoint(<%= @name.camelcase %>::IndexRequest, <%= @name.camelcase %>::IndexPage)

    get "<%= action_path %>"

    def call : <%= @name.camelcase %>::IndexPage
      <%= @name.camelcase %>::IndexPage.new
    end
  end
end
