module <%= @module_name %>::<%= @name.camelcase %>
  struct DestroyEndpoint
    include Azu::Endpoint(<%= @name.camelcase %>::DestroyRequest, Azu::Response::Empty)

    delete "<%= action_path %>"

    def call : Azu::Response::Empty
      id = destroy_request.id
      result = DestroyService.new.call(id)

      # Always redirect to index, regardless of success/failure
      redirect to: "/<%= @resource_plural %>"
    end
  end
end
