module <%= @module_name %>::<%= @name.camelcase %>
  struct EditEndpoint
    include Azu::Endpoint(<%= @name.camelcase %>::EditRequest, <%= @name.camelcase %>::EditPage)

    get "<%= action_path %>"

    def call : <%= @name.camelcase %>::EditPage
      # Render form page
      <%= @name.camelcase %>::EditPage.new
    end
  end
end
