module <%= @module_name %>::<%= @name.camelcase %>
  struct NewEndpoint
    include Azu::Endpoint(<%= @name.camelcase %>::NewRequest, <%= @name.camelcase %>::NewPage)

    get "<%= action_path %>"

    def call : <%= @name.camelcase %>::NewPage
      # Render form page
      <%= @name.camelcase %>::NewPage.new
    end
  end
end
