struct <%= endpoint_struct_name %>
  include Azu::Endpoint(<%= request_type %>, <%= response_type %>)

<% if has_actions? %>
<%= endpoint_methods %>
<% else %>
  # TODO: Add your endpoint actions here
  # Example:
  # get "/api/<%= snake_case_name %>"
  #
  # def index : <%= response_type %>
  #   # Implementation here
  #   <%= response_type %>.new
  # end
<% end %>
end
