module <%= @module_name %>::Health
  struct HealthEndpoint
    include Azu::Endpoint(HealthRequest, HealthPage)

    get "/health"

    def call : HealthPage
      HealthPage.new(
        status: "ok",
        version: <%= @module_name %>::VERSION,
        timestamp: Time.utc
      )
    end
  end
end

