<%= schema_name %> = CQL::Schema.define(
  :<%= schema_symbol %>,
  adapter: <%= cql_adapter_class %>,
  uri: ENV["DATABASE_URL"]? || "<%= database_env_url %>") do
  table :cql_schema_migrations do
    primary :id, Int32
    text :name
    bigint :version
    timestamps
  end

  # Add your tables here
  # Example:
  # table :posts do
  #   primary :id, Int64
  #   text :title
  #   text :body
  #   boolean :published, default: "false"
  #   timestamps
  # end

end
