# Login Request
# Validates user login data

module <%= project.camelcase %>::Auth
  struct LoginRequest
    include Azu::Request

    property email : String
    property password : String

    # Use custom validator
    use EmailValidator

    # Validate password presence
    validate :password, presence: true, message: "Password is required"
  end
end
