module {{module_name}}
  # {{class_name}} page component (view)
  struct {{class_name}}Page
    include Azu::Response
    include Azu::Templates::Renderable

{{template_vars_list}}

    def render
      view template: "{{snake_case_name}}/index.jinja", data: {{render_data}}
    end
  end
end
