{% extends "layout.jinja" %}

{% block title %}{{class_name}}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{class_name}}</h1>

      <!-- Add your page content here -->
      <p>This is the {{class_name}} page.</p>

      <!-- Example template variables usage -->
      {% if title %}
        <p>Title: {{ title }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
