module <%= @module_name %>
  struct <%= @name.camelcase %>::UpdateRequest
    include Azu::Request

    property id : Int64

<% @fields.common_fields.each do |field| -%>
    property <%= field.field_name %> : <%= field.cr_type %>
<% end -%>
<% @fields.references.each do |field| -%>
    property <%= field.field_name %> : <%= field.cr_type %>
<% end -%>
  end
end
