# src/responses/<%= response_name %>.cr
class <%= class_name %>
  include Response
<%- if json_serializable? -%>
  include JSON::Serializable
<%- end -%>
<%- if include_templates_renderable? -%>
  include Templates::Renderable
<%- end -%>

<%- attributes.each do |attr| -%>
  @<%= attr[:name] %> : <%= attr[:type] %> = <%= attr[:default] %>
<%- end -%>

  def initialize(<%= attributes.map { |attr| "@#{attr[:name]} = #{attr[:default]}" }.join(", ") %>)
  end
end
