module <%= @project.camelcase %>
  struct <%= @resource.camelcase %>::EditEndpoint
    include Endpoint(EditContract, EditPage)

    get "<%= path :edit %>"

    def call : EditPage
      EditPage.new <%= @resource.downcase %>
    end

    def <%= @resource.downcase %>
      <%= @resource.camelcase %>.find! edit_contract.id
    end
  end
end
