module <%= @project.camelcase %>
  struct <%= @resource.camelcase %>::NewEndpoint
    include Endpoint(NewContract, NewPage)

    get "<%= path :new %>"

    def call : NewPage
      NewPage.new new_contract
    end
  end
end
