module <%= project.camelcase %>::Auth
  struct ChangePasswordResponse
    include Azu::Response
    include JSON::Serializable

    getter message : String = "Password changed successfully"

    def initialize(@message : String = "Password changed successfully")
    end

    def render : String
      to_json
    end
  end
end


