module <%= project.camelcase %>::Auth
  struct ChangePasswordResponse
    include Azu::Response::JSON

    def to_json(io : IO)
      {message: "Password changed successfully"}.to_json(io)
    end
  end
end


