module <%= project.camelcase %>::Auth
  struct LoginResponse
    include Azu::Response::JSON

    getter user_id : Int64?

    def initialize(@user_id : Int64? = nil)
    end

    def to_json(io : IO)
      data = {
        user_id: @user_id,
      }
      data.to_json(io)
    end
  end
end


