module <%= project.camelcase %>::Auth
  struct LogoutResponse
    include Azu::Response
    include JSON::Serializable

    getter message : String = "Logged out successfully"

    def initialize(@message : String = "Logged out successfully")
    end

    def render : String
      to_json
    end
  end
end


