module <%= project.camelcase %>::Auth
  struct LogoutResponse
    include Azu::Response

    def render(context : HTTP::Server::Context)
      context.response.status = HTTP::Status::OK
      context.response.content_type = "application/json"
      context.response.print({message: "Logged out successfully"}.to_json)
    end
  end
end
