module <%= project.camelcase %>::Auth
  struct MeResponse
    include Azu::Response
    include JSON::Serializable

    getter id : Int64
    getter email : String
    getter name : String?
    getter role : String

    def initialize(@id : Int64, @email : String, @name : String?, @role : String)
    end

    def render : String
      to_json
    end
  end
end


