module <%= project.camelcase %>::Auth
  struct PermissionsResponse
    include Azu::Response
    include JSON::Serializable

    getter roles : Array(String)
    getter permissions : Array(String)

    def initialize(@roles : Array(String), @permissions : Array(String))
    end

    def render : String
      to_json
    end
  end
end


