<%- if using_jwt? || using_authly? %>
module <%= project.camelcase %>::Auth
  struct RefreshResponse
    include Azu::Response
    include JSON::Serializable

    getter access_token : String?
    getter refresh_token : String?

    def initialize(@access_token : String? = nil, @refresh_token : String? = nil)
    end

    def render : String
      to_json
    end
  end
end
<%- end %>


