module <%= project.camelcase %>::Auth
  struct RegisterResponse
    include Azu::Response
    include JSON::Serializable

    getter user_id : Int64?
    getter access_token : String?
    getter refresh_token : String?

    def initialize(@user_id : Int64? = nil, @access_token : String? = nil, @refresh_token : String? = nil)
    end

    def render : String
      to_json
    end
  end
end


