require "../../requests/auth/logout_request"
require "../../response/auth/logout_json"

module <%= project.camelcase %>::Auth
  struct LogoutEndpoint
    include Azu::Endpoint(Auth::LogoutRequest, Auth::LogoutResponse)

    post "/auth/logout"

    def call : Auth::LogoutResponse
      session.delete("_csrf_token") if respond_to?(:session)
      Auth::LogoutResponse.new
    end
  end
end


