module <%= project.camelcase %>::Auth
  struct LogoutEndpoint
    include Azu::Endpoint(Azu::Request::Empty, Auth::LogoutResponse | Azu::Response::Empty)

    post "/auth/logout"

    def call : Auth::LogoutResponse | Azu::Response::Empty
      <%- if using_session? %>
      session.delete("user_id")
      <%- end %>
      Auth::LogoutResponse.new
    end
  end
end


