<%- if using_authly? %>
module <%= project.camelcase %>::Auth
  struct OAuthProviderEndpoint
    include Azu::Endpoint(Azu::Request::Empty, Azu::Response::Empty)

    get "/auth/oauth/:provider"
  end
end
<%- end %>


