<%- if rbac_enabled? %>
module <%= project.camelcase %>::Auth
  struct PermissionsEndpoint
    include Azu::Endpoint(Azu::Request::Empty, Azu::Response::Empty)

    get "/auth/permissions"
  end
end
<%- end %>


