module {{module_name}}
  module {{class_name}}
    struct {{action_class}}Contract
      include Request

      # TODO: Add specific attributes for your {{class_name}} model
      # Example:
      # getter name : String
      # getter email : String
      #
      # validate name, message: "Name must be present.", required: true
      # validate email, message: "Email must be present.", required: true
    end
  end
end
