module {{module_name}}
  module {{class_name}}
    struct {{action_class}}Contract
      include Request

      getter id : Int64

      validate id, message: "ID must be present.", required: true
    end
  end
end
