module {{module_name}}
  module {{class_name}}
    struct {{action_class}}Page
      include Azu::Response
      include Azu::Templates::Renderable

      def initialize(@{{plural_name}} : Array({{class_name}}))
      end

      def render
        view template: "{{snake_case_name}}/index.jinja", data: {
          "{{plural_name}}" => @{{plural_name}},
          "title" => "{{class_name}} List"
        }
      end
    end
  end
end
