module {{module_name}}
  module {{class_name}}
    struct {{action_class}}Endpoint
      include Azu::Endpoint({{action_class}}Contract, {{action_class}}Page)

      {{http_method}} "{{route_path}}"

      def call : {{action_class}}Page
        {{snake_case_name}} = {{class_name}}.new
        {{action_class}}Page.new({{snake_case_name}})
      end
    end
  end
end
