module {{module_name}}
  module {{class_name}}
    struct {{action_class}}Page
      include Azu::Response
      include Azu::Templates::Renderable

      def initialize(@{{snake_case_name}} : {{class_name}})
      end

      def render
        view template: "{{snake_case_name}}/new.jinja", data: {
          "{{snake_case_name}}" => @{{snake_case_name}},
          "title" => "New {{class_name}}"
        }
      end
    end
  end
end
