module {{module_name}}
  module {{class_name}}
    struct {{action_class}}Contract
      include Azu::Request

      getter id : Int64

      validate :id, presence: true, numericality: {greater_than: 0}
    end
  end
end
