module <%= @module_name %>
  struct Welcome::IndexEndpoint
    include Azu::Endpoint(Welcome::IndexContract, Welcome::IndexPage)

    get "/"

    def call : Welcome::IndexPage
      Welcome::IndexPage.new(
        csrf_token: csrf_token,
        csrf_tag: csrf_tag,
        csrf_metatag: csrf_metatag,
      )
    end
  end
end
