struct <%= struct_name %>
  include Azu::Response
  include Azu::Templates::Renderable

  <%= getter_declarations %>

  def initialize(<%= constructor_params %>)
  end

  def render
    view <%= view_data_hash %>
  end
end
