require "azu"
require "../src/initializers/database"
require "../src/initializers/logger"

require "azu_cli"
require "../db/migrations/*"

# This file allows you register custom tasks for your project
# and run those tasks from Azu CLI.
#
# Plugins
#
# Create plugins build your custom workflows
#
# Example 
def seed
  puts "seeding"
  puts "seeding done"
  "done"
end

module AzuCLI
  Topia.task("seed", ->seed)
end

AzuCLI.run
