module <%= @project.camelcase %>
  struct <%= @resource.camelcase %>::IndexPage
    include Response
    include Templates::Renderable

    def initialize(@<%= @resource.pluralize.downcase %> : Array(<%= @resource.camelcase %>))
    end

    def render
      view data: {
        "<%= @resource.pluralize.downcase %>" => @<%= @resource.pluralize.downcase %>.map(&.to_str_h),
      }
    end
  end
end
