struct <%= struct_name %>
  include Azu::Response
<% if web_type %>
  include Azu::Templates::Renderable
<% end %>
<% if api_type %>
  include JSON::Serializable
<% end %>

  <%= getter_declarations %>

  def initialize(<% if from_type %><%= from_var %> : <%= from_type %><% else %><%= constructor_params %><% end %>)
<% if from_type %>
    <%= assignments_from_source %>
<% end %>
  end

  <%= render_method %>
end
